body {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
}

header p {
    font-size: 25px;
}

header p span {
    color: #21a2b5;
}

.nav {
    color: #515251;
    display: flex;
    gap: 30px;
}

.nav li:nth-child(1) {
    border-bottom: 3px solid #21a2b5;
}

/* Big img section */ 

.img-container {
    position: relative;
}

.img-container img {
    width: 100%;
    height: auto;
}

.img-container div {
    position: absolute;
    bottom: 202px;
    left: 224px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-container div h1 {
    line-height:80px;
    font-size: 60px;
    color: white;
}

.img-container div button {
    background-color: #008cba;
    color: white;
    width: 340px;
    height: 70px;
    border-radius: 100px;
    font-size: 35px;
    border: none;
}

/* Section .first */

.first {
    text-align: center;
    padding: 40px 300px 40px 300px;
}

.first h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.first span {
    margin-top: 10px;
    border-bottom: 3px solid #21a2b5;
}

.first p {
    margin-bottom: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}

.first button {
    border: none;
    background-color: #454545;
    border-radius: 100px;
    color: white;
    font-size: 20px;
    padding: 12px 35px 14px 35px;
}

/* Services */

.services {
    text-align: center;
    background-color: #eef0f1;
    padding: 50px;
}

.services h1 {
    font-size: 38px;
    font-weight: 400;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    width: 400px;
    height: 550px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.card h2 {
    color: #474748;
    font-size: 28px;
    font-weight: 500;
    padding: 30px 0 5px 0px;
}

.card p {
    color: #474748;
    font-size: 20px;
    line-height: 23px;
    padding: 0px 20px 20px 20px;
}

.card button {
    border: none;
    color: white;
    background-color: #454545;
    padding: 10px 30px 12px 30px;
    border-radius: 5px;
    font-size: 20px;
}

/* Section .input */

.input {
    background-color: #393f43;
    padding: 40px 300px 50px 300px;
    color: white;
    text-align: center;
}
.input input {
    width: 400px;
    height: 40px;
    font-style: italic;
    font-size: 20px;
    background-color: #545a5e;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

::placeholder {
    padding-left: 10px;
}

.input h1 {
    font-weight: 300;
    margin-bottom: 10px;
}

.input p {
    margin-bottom: 20px;
}

.input button {
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 160px;
    background-color: #6bbfff;
}

/* Contacts */

.contacts {
    display: flex;
    justify-content: space-evenly;
    background-color: #2f3539;
    color: white;
    padding: 50px;
}

.contacts article h4 {
    margin-bottom: 15px;
}

.contacts article p {
    line-height: 30px;
}

.addres{
    margin-bottom: 15px;
}

footer {
    background-color: #262b2f;
    text-align: center;
    color: white;
    padding: 10px;
    border: none;
}

footer span {
    color: #0c85a9;
}