@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Lato", sans-serif;
}

header {
    height: 80px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 30px;
    font-size: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

/* first */
.taxes {
    background-color: #54546d;
    text-align: center;
    padding: 80px 0px;
    height: 400px;
}

.taxes h1 {
    display: inline-block;
    font-size: 35px;
    color: white;
}

.taxes img {
    display: inline-block;
    position: absolute;
    left: -90px;
    height: 250px;
}

.taxes-wrapper {
    position: absolute;
    top: 260px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0px 40px;
    background-color: transparent;
}

.taxes-wrapper article {
    border-radius: 12px;
    width: 30%;
    height: 550px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

.top {
    height: 70%;
}

.top h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #54546d;
}

.top p {
    font-size: 25px;
    color: #54546d;
}

.card-first {
    position: relative;
}

.card-first button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9a5dc6;
    border: none;
    color: white;
    font-weight: bold;
    padding: 18px 40px;
    border-radius: 100px;
}

.card-first .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 30%;
    background-image: linear-gradient(to right,
            #029a3c,
            #1da94d,
            #2eb85e,
            #3dc76f,
            #4bd680);
    color: white;
}

.card-first .bottom h3 {
    font-size: 30px;
}

.card-first .bottom p {
    font-size: 25px;
}

.card-second .bottom {
    background-image: linear-gradient(to right,
            #56738d,
            #597d9d,
            #5c86ad,
            #5f90be,
            #629acf);
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}

.card-second .top p {
    padding: 0 30px 30px 30px;
    line-height: 30px;
}

.card-third .top p {
    padding: 0 30px 30px 30px;
    line-height: 30px;
}

.card-third .bottom h2 { 
    font-size: 30px;
    color: white;
}

.card-second .bottom h2 {
    font-size: 30px;
    color: white;
}

.card-second .bottom p {
    font-size: 20px;
    line-height: 50px;
    color: white;
}

.card-third .bottom p {
    color: white;
    font-size: 20px;
    line-height: 50px;
}

.divider {
    border: 1px solid white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.left-bottom {
    width: 50%;
    padding: 20px 5px;
}

.right-bottom {
    width: 50%;
    padding: 20px 5px;
}

.card-third .bottom {
    background-image: linear-gradient(to right,
            #4a37a5,
            #5b48b4,
            #6b5ac3,
            #7c6bd2,
            #8c7de1);
    height: 30%;
    display: flex;
    justify-content: center;
}

/* Check */

.check {
    padding-top: 450px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 130px;
    text-align: left;
}
.check h2 {
    color: #5a546d;
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 500;
}
.check p {
    color: #5e656a;
    font-size: 22px;
    margin-bottom: 70px;
}

/* Table */

.paragraphs {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.paragraphs img {
    display: inline-block;
    height: 25px;
    width: auto;
}

.paragraphs p {
    font-size: 25px;
}

.first {
    position: absolute;
    right: 27%;
}
.second {
    position: absolute;
    right: 7%;
}

.paragraphs p {
    margin: 0;
    padding: 20px 10px;
}

.paragraphs p:nth-child(1) {
    border-top-left-radius: 12px;
}

.paragraphs p:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.paragraphs p:nth-child(even) {
    background-color: #f8f8f8;
}

.paragraphs p:nth-child(odd) {
    background-color: #e6e6e6;
}

/* Footer Section */

.footer {
    display: flex;
    padding-right: 230px;
    padding-left: 115px;
    padding-bottom: 150px;
    justify-content: space-between;
}

.footer article h2 {
    font-size: 30px;
    padding-bottom: 30px;
    color: #54546d;

}

.footer article p {
    font-size: 21px;
    line-height: 26px;
    color: #565656;
}

.footer article {
    width: 70%;
}

.footer div {
    display: flex;
    padding-top: 70px;
}

.footer div img {
    height: 150px;
    width: auto;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #54546d;
    color: #908fab;
    font-size: 20px;
}