@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

header {
    height: 80px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 30px;
    font-size: 25px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}

/* first */
.taxes {
    background-color: #54546d;
    text-align: center;
    padding: 80px 0px;
    height: 400px;
}

.taxes h1 {
    display: inline-block;
}

.taxes img {
    display: inline-block;
    position: absolute;
    left: -90px;
    height: 250px;
}

.taxes-wrapper {
    position: absolute;
    top: 260px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0px 40px;
    background-color: transparent;
}

.taxes-wrapper article {
    border-radius: 12px;
    width: 30%;
    height: 500px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

.card-first .top {
    height: 65%;
}

.card-first .top h2{
    font-size: 35px;
    margin-bottom: 10px;
}

.card-first .top p {
    font-size: 25px;
    margin-bottom: 40px;
}

.card-first button {
    background-color: #9a5dc6;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 100px;
}

.card-first .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #029a3c;
    height: 35%;
}

.card-first .bottom h3 {
    font-size: 30px;
}

.card-first .bottom p {
    font-size: 25px;
}