@media (max-width: 600px) {
    .banner h2 {
        display: inline-block;
        width: 100%;
        font-size: 32px;
    }

    .banner {
        padding: 37px 20px 15px 20px;
    }

    .actions li {
        width: 100%;
    }

    .actions li a {
        width: 100%;
    }

    .wrapper {
        display: flex;
    }
    .inner {
        display: flex;
        flex-direction: column;
    }

    .features {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 0px 20px;
    }

    .feature {
        width: 100%;
    }
    .wrapper.special {
        padding: 40px 0px 0px 0px;
    }

    header.major {
        margin: 0;
    }

    /*  */
    .wrapper.style2.special {
        width: 100%;
    }
    .inner.narrow {
        width: 100%;
    }

    .grid-form {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .grid-form .form-control.narrow {
        width: 100%;
    }

    .grid-form input {
        padding: 0;
        width: 100%;
    }


    /* footer */

    .footer:before {
        background-color: #ddd;
        content: "";
        height: 1px;
        left: 5%;
        position: absolute;
        top: 0;
        width: 90%;
    }

    .footer {
        background-color: #f7f7f7;
        padding: 35px 0px 1px 0px;
    }
}