@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

:root {
  --clr-grey-ligh: #ececec;
  --clr-grey-dark: #383838;
  --clr-grey-txt: #686a62;
  --clr-orange: #e24e2a;
  --clr-green-ligh: #1b9772;
  --clr-green-dark: #1b9772;
  --clr-green-txt: #55b497;
}

body {
  font-family: Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--clr-grey-dark);
}

.logo h1 {
  font-size: 52px;
}

.logo p {
  font-size: 24px;
}

.divider {
  height: 3.5rem;
  border-left: 1px solid var(--clr-grey-txt);
}

ul {
  display: flex;
  /* width: 60%; */
  justify-content: space-between;
  gap: 1.5px;
}

ul li {
  background-color: var(--clr-grey-ligh);
  padding: 30px 40px ;
}

ul li:nth-child(1){
    background-color: var(--clr-orange);
}

ul li:nth-child(1) a{
    color: white;
}

ul li a {
  text-decoration: none;
  font-size: 20px;
  color: var(--clr-grey-dark);
  letter-spacing: 2px;
  font-weight: 500;
}

/* Image */

.overflow {
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.text-container {
  padding: 100px;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  background-color: #e24e2a;
}

.text-container p {
  color: var(--clr-grey-ligh);
}

/* Icons */

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #383838;
  padding-top: 70px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  padding: 30px;
  align-items: center;
}

.icon-container:first-child .icon {
  margin-bottom: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #e24e2a;
  margin-bottom: 10px;
}

.icon-container i {
  font-size: 50px;
  text-align: center;
}

.icon-container h3 {
  color: var(--clr-grey-ligh);
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.icon-container p {
  padding-top: 20px;
  border-top: 1px solid var(--clr-grey-txt);
  text-align: center;
  color: var(--clr-grey-txt);
}

/* White Sextion */

.white {
  text-align: center;
  padding: 100px;
}

.white h1 {
  font-size: 50px;
  color: #555555;
  font-weight: 400;
}

.white p {
  font-size: 25px;
  /* letter-spacing: 1px; */
  color: #a2a2a2;
  margin-bottom: 30px;
}

.white button {
  padding: 30px 60px 35px 60px;
  color: white;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 3px;
  background-color: var(--clr-green-dark);
  border: none;
}

/* without icons */

.without-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #383838;
  padding-top: 70px;
}

.without-icons .icon-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  padding: 30px;
  align-items: center;
}

.without-icons .icon-container p {
  padding-top: 20px;
  border-top: none;
  text-align: center;
  color: var(--clr-grey-txt);
}

footer {
  padding: 100px;
  text-align: center;
  background-color: var(--clr-green-dark);
  color: #54b499;
}