header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #41bead;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    gap: 40px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

header img {
    margin: 25px 0 25px 150px;
    width: 150px;
    height: auto;
}

.yellow {
    text-align: center;
    padding: 50px 500px 80px 500px;
    background: #ffb402;
    color: white;
}

.yellow h1 {
    padding: 25px;
    font-size: 50px;
    letter-spacing: 1px;
}
.yellow p {
    font-size: 24px;
    line-height: 25px;
}

/* White Section */

.two {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}

.info {
    display: flex;
    width: 30%;
}

.img-container {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 10px solid #41bead;
    overflow: hidden;
}

.four {
    margin-top: 300px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    gap: 130px;
}

.image-container {
    text-align: center;
}

/* Blue Section */

.blue {
    background: #66b9f8;
}

.blue .blue__text {
    text-align: center;
    padding: 50px;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
}

.inputs input {
    padding: 20px 50px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid white;
}

::placeholder{
    color: white;
}

button {
    padding: 20px 40px;
    margin-left: 20px;
}
