@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #41bead;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    gap: 40px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

header img {
    margin: 25px 0 25px 150px;
    width: 150px;
    height: auto;
}

/* Yellow Section */

.yellow {
    box-shadow: inset rgb(0 0 0 / 44%) 0px 1px 3px 0px;
    text-align: center;
    padding: 50px 500px 80px 500px;
    background: #ffb402;
    color: white;
}

.yellow h1 {
    padding: 25px;
    font-size: 50px;
    letter-spacing: 1px;
}
.yellow p {
    font-size: 24px;
    line-height: 25px;
}

/* White Section */

.two {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}

.info {
    display: flex;
    width: 30%;
}

.img-container {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 10px solid #41bead;
    overflow: hidden;
}

.four {
    margin-top: 300px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    gap: 130px;
}

.image-container {
    text-align: center;
}

/* Blue Section */

.blue {
    background: #66b9f8;
    padding: 0px 100px 100px 100px;
    border-top: 15px solid #92cdfb;
}

.blue .blue__text {
    text-align: center;
    padding: 50px 200px;
    color: white;
}

.blue__text h1 {
    font-size: 60px;
}

.blue__text p {
    font-size: 25px;
    letter-spacing: 1px;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
}

.inputs input {
    padding: 20px 50px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid white;
}

::placeholder{
    color: white;
}

button {
    padding: 20px 45px;
    margin-left: 20px;
    background-color: #ff9100;
    border: none;
    border-radius: 100px;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

footer {
    border-top: 15px solid #919191;
    background: #565656;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 50px 50px 150px;
    color: white;
}

footer section h1 {
    margin-bottom: 20px;
}

footer section i {
    font-size: 35px;
}

footer section i:last-of-type {
    margin-left: 20px;
}

footer section p {
    line-height:  40px;
    font-size: 21px;
}