@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;700&display=swap');

p {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
}
main {
    padding: 0 150px;
}

header.picture {
    position: relative;
}

header img {
    height: 1220px;
    width: 100%;
    object-fit: cover;
}

.header-design {
    padding-left: 25px;
    width: 350px;
    height: 300px;
    background: transparent;
    position: absolute;
    top: 45px;
    left: 75px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header-design h1 {
    padding-top: 54px;
    padding-bottom: 15px;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
}
.header-design p {
    padding-top: 15px;
    font-size: 25px;
}
.first-divider {
    width: 190px;
    border-bottom: 2px solid white;
}

.header-desc {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 460px;
    height: 400px;
    position: absolute;
    bottom: 470px;
    right: 68px;
    background-image: linear-gradient(
        to right,
        #9d948d, 
        #c9c7c6
    );
    text-align: right;
    padding: 0 20px 20px 20px;
}

.header-desc i {
    font-size: 35px;
    color: #787878;
}

.header-desc p {
    font-size: 26px;
    color: #f9f0de;
}

section {
    display: flex;
}
.left {
    display: flex;
    flex-direction: column;
    width: 70%;
}
    /* second */
.description {
    background-color: #f2f0f3;
    padding: 30px 100px;
}
.divider {
    background-color: #f2f0f3;
}

.description h1 {
    font-size: 50px;
}

.description p {
    font-size: 25px;
    margin-top: 35px;
}
.description p i {
    margin-right: 5px;
}
.description p span {
    font-weight: 700;
}

.divider h1 {
    border-bottom: 1px solid black;
    padding-left: 100px;
    padding-top: 50px;
    font-size: 50px;
}

.grid {
    margin-top: 30px;
    padding-left: 100px;
    font-size: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.grid span {
    font-weight: 700;
    font-style: italic;
}

.input {
    display: flex;
    height: 60px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: left;
}
.input input {
    margin-right: 20px;
    height: 100%;
    width: 50%;
    background-color: #bab1ad;
    border-radius: 8px;
    border: none;
}
::placeholder {
    padding-left: 15px;
    font-size: 20px;
    color: white;
}

.input button {
    height: 100%;
    border: none;
    background-color: #67784d;
    border-radius: 8px;
    font-size: 23px;
    color: white;
    padding: 0 30px;
}

.dimensions {
    background-color: #bab1ad;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dimensions div h1 {
    position: relative;
    font-size: 100px;
    font-family: roboto;
    font-weight: 100;
    color: white;
    margin-left: 30px;
    bottom: -35px;
}

.dimensions div p {
    margin-left: 30px;
    font-size: 25px;
}